@model SirCoPOS.Web.Models.SolicitudCliente

<div>
    <h4>SolicitudCliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApPaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApPaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApMaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApMaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoVale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoVale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faltante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faltante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Electronica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Electronica)
        </dd>

    </dl>
</div>
